.carousel-indicators [data-bs-target] {

    height: 6px;
    background-color: #ffc420;
    border: 0;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 50px;
}

element.style {
}
.carousel-indicators {
    position: absolute;
    bottom: -50px;

}
.card{
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
span{
    width: 10rem;
    height: 5px;
    background-color: #ffc420;
    display: inline-block;
    border-radius: 10px;
}
footer{
    background-color: rgba(207, 206, 206, 0.932);
}
footer li{
    list-style: none;
}
